<h1>Available This Week at the Farmer's Table:</h1>
<table>
  <tr>
    <th scope="col">Item</th>
    <th scope="col">Unit Price</th>
    <th scope="col">Sale Price</th>
  </tr>
  <% @weekly_items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= "$#{item.price}" %></td>
    <td>
      <% if item.discounts == [] %>
        <% "" %>
      <% else %>
        <%= "#{item.discounts[0][:qty_required]} for $#{item.discounts[0][:discounted_price]}" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<br>
<%= form_with url: "/receipts/new", method: :post, local: true do |f| %>
  <%= f.label :items_purchased %>
  <%= f.text_field :items_purchased, :size => 55, :placeholder => "Separate Items With Comma" %>
  <%= f.hidden_field  :transaction_time %>
  <%= hidden_field_tag  'transaction_time', Time.now %>
  <%= f.submit 'Print Receipt'%>
<% end %>


<br>
<br>
<br>
<h5>Past Transactions</h5>
