<table>
  <tr>
    <th scope="col">RECEIPT</th>
  </tr>
  <tr>
    <td><%= @transaction_time %></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <th scope="col">Item</th>
    <th scope="col">Quantity</th>
    <th scope="col">Price</th>
  </tr>
  <% @receipt.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v[:qty] %></td>
    <td><%= "$#{sprintf("%.2f", v[:transaction_total])}" %></td>
  </tr>
  <% end %>
</table>
<br>
<table>
  <tr>
    <td>Total Price : <%="$#{sprintf("%.2f", @receipt.values.sum {|item| item[:item_savings]})}"%></td>
  </tr>
  <tr>
    <td>You Saved <%="$#{sprintf("%.2f", @receipt.values.sum {|item| item[:item_savings]})} today"%></td>
  </tr>
</table>
